h3{
    font-size: 25px !important;
}
.btn-success:hover
{
    background-color: yellow;
}
canvas{
    animation-name: example;  
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example{
    from{box-shadow: 1px 1px 38px darkorange;}
    to{box-shadow: 1px 1px 38px lawngreen;}
}
img{
    width: 350px;
}
.copy_right_footer{
    position: fixed;
    color: aqua;
    bottom: 0;
    width: 100%;
    background-color: orangered;
    line-height: 3;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: italic;
    font-stretch: wider;
}
canvas{
    border:5px solid dodgerblue;
    border-radius: 2opx;
box-shadow: 5px 5px 5px yellow;
margin-top: 100px;
}
.heading
{
    font-size: 23px;
    width: 100%;
    margin: 5px 5px 5px grey;
}
.heading_div2{
    font-size: 18px;
}